# Configurações da API do WhatsApp (Exemplo: Evolution API)
WHATSAPP_API_URL=https://sua-instancia.com
WHATSAPP_API_KEY=seu_token_aqui
WHATSAPP_INSTANCE_ID=nome_da_instancia

# Flask Config
FLASK_APP=app/main.py
FLASK_ENV=development
PORT=5000
